{% extends 'base.html' %}
{% load static %}

{% block title %}
¡Sigue intentando!
{% endblock title %}

{% block header %}  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/ruleta.css' %}?v=20260629-ruleta-pointer-before-restore">
{% include 'includes/ruleta_tema_vars.html' %}
{% endblock %}

{% block body_class %}ruleta-theme sin-premio-page{% endblock body_class %}

{% block content %}
<div class="container">
    <div class="row mb-1">
        <div class="col-1 col-md-4"></div>
        <div class="col-10 col-md-4 mt-5">
            <div class="card card-borde-personalizado text-center">
                <div class="card-body">
                    <!-- <img src="{% static 'images/suerte_proxima.png' %}" class="img-fluid mx-auto d-block mb-4" style="max-width: 150px;" alt="Suerte"> -->
                    
                    <h1 class="mb-3">¡Casi lo logras!</h1>
                    <h4 class="mb-4">No hubo suerte esta vez, {{ premio.nombre }}</h4>
                    
                    <p>Gracias por participar con tu ticket: <strong>{{ premio.codigo_ticket }}</strong></p>
                    <p class="text-muted mt-3"><small>Te esperamos en tu próxima compra para seguir jugando.</small></p>
                </div>
            </div>
        </div>
        <div class="col-1 col-md-4"></div>
    </div>
</div>
{% endblock content %}
